.Login{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
   
}
.fondo{
    background-image: url('/src/assets/gifkete.gif');
    width: 100%;
    background-size: cover;
   background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-color: #0b0606;
    text-align: center; 
    display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}